---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Diego Pizarro, tengo 38 años. Desde chico, me ha apasionado el mundo de la computación, lo
      que me ha llevado a desarrollar una carrera en este campo.
    </p>

    <p>Algunos de mis proyectos:</p>
    <p>
      Sistemas de Gestión de Socios para Clubes: <strong
        >He trabajado en el desarrollo y mantenimiento de sistemas que facilitan
        la gestión de socios para diversas instituciones deportivas y sociales.</strong
      >
    </p>

    <p>
      Plataformas del Estado: <strong
        >He contribuido a la creación y mejora de plataformas gubernamentales,
        optimizando su funcionamiento y accesibilidad para los usuarios.</strong
      >
    </p>
    <p>
      Sistema de Envío de Facturas Digitales: <strong> Implementé un sistema automatizado con Python que optimiza el proceso de envío de facturas digitales, gestionando datos personalizados, adjuntos y mensajes automatizados, lo que mejora significativamente la eficiencia interna.</strong>
    </p>
    <p>
      Objetivo:
        Mi objetivo es convertirme en un referente en el ámbito del desarrollo
        de software, aportando mi experiencia y conocimientos para impulsar
        innovaciones y mejoras en el sector.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/FotoPerfil.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
