---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador en Municipalidad de Baradero",
    company: "Municipalidad de Baradero",
    description:
      "Manejo de sistema de gestion publica y plataforma Gobierno abierto.",
    link: "https://gobiernoabierto.baradero.gov.ar/",
  },
  {
    date: "Enero 2024",
    title: "Sistema de gestión de socios",
    company: "Freelancer",
    description:
      "Este sistema permite el ingreso, egreso y creación de nuevos socios, entre otras funciones. Se desarrolló utilizando PHP, Laravel, Bootstrap y MySQL.",
  },
  {
  date: "Enero 2025",
  title: "Sistema de envío de facturas digitales",
  company: "Municipalidad de Baradero",
  description:
    "Automatización del envío de facturas digitales con Python. El sistema permite reenviar facturas corregidas con datos personalizados, gestión de adjuntos y mensajes automatizados por correo electrónico, optimizando procesos internos.",
},
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>